<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Taco Order</title>
    <link rel="stylesheet" th:href="@{/templates/css/designOrderTacosCSS.css}"/>
    <link rel="script" th:href="@{/templates/js/designOrderTacosJS.js}"/>
</head>

<h1>Taco Cloud</h1>


<body>
<a href="http://localhost:8080/designTaco">继续添加Taco</a>

<form method="post" th:object="${order}">
    <img th:src="@{/images/TacoCloud.png}"/>


    <div>
        <div th:each="taco:${order.list}">
            <div th:text="${taco.getId()}">taco: </div>
            <div th:if="${taco.getInfo() ne null}">
                <div th:text="${taco.getInfo()}"></div>
            </div>
            <div th:each="ingredient:${taco.getList()}">
                <span th:text="${ingredient}">tacoIngredient</span>
            </div>
        </div>
    </div>


    <input th:type="submit" th:value="提交">
</form>
</body>