<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/templates/css/designTacoIngredientsCSS.css}" />
    <link rel="script" th:href="@{/templates/js/designTacoIngredientsJS.js}"/>
</head>
<style>
    .d1{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .h1{
        text-align: center;
    }
    #TacoPic{
        padding: 0 200px 0 200px;
    }
</style>
<body id="body">
<h1  style="text-align: center">Design Your Taco!</h1>
<div id="TacoPic">
    <img  th:src="@{/images/TacoCloud.png}" alt="this is a pic"/>
</div>

<!--<form method="post" th:object="${tacoIngredients}">-->
<form method="post" th:object="${taco}">

<!--    wrap 包裹层-->
    <div id="wraps">
        <h3 class="h1">Designate your wrap:</h3>
        <div class="d1" th:each="wrap:${WRAP}">
            <input class="wrap" type="checkbox"  name="list" th:value="${wrap.getId()}" />
            <span th:text="${wrap.getName()}">wrap ingredients</span>
        </div>
    </div>

<!--    蛋白质-->
    <div id="proteins">
        <h3 class="h1">Designate your proteins:</h3>
        <div class="d1" th:each="protein:${PROTEIN}">
            <input class="protein"  type="checkbox" name="list" th:value="${protein.getId()}"/>
            <span th:text="${protein.getName()}">wrap ingredients</span>
        </div>
    </div>

<!--    vegetable 蔬菜-->
    <div id="vegetables">
        <h3 class="h1">Designate your vegetables:</h3>
        <div class="d1" th:each="vegetable:${VEGGIES}">
            <input class="vegetable" type="checkbox" name="list" th:value="${vegetable.getId()}"/>
            <span th:text="${vegetable.getName()}">wrap ingredients</span>
        </div>
    </div>

<!--    cheese 奶酪-->
    <div id="cheeses">
        <h3 class="h1">Designate your cheeses:</h3>
        <div class="d1" th:each="cheese:${CHEESE}">
            <input class="cheese" type="checkbox" name="list" th:value="${cheese.getId()}"/>
            <span th:text="${cheese.getName()}">wrap ingredients</span>
        </div>
    </div>

<!--    sauce 酱汁-->
    <div id="sauces">
        <h3 class="h1">Designate your sauces:</h3>
        <div class="d1" th:each="sauce:${SAUCE}">
            <input class="sauce"  type="checkbox" name="list" th:value="${sauce.getId()}"/>
            <span th:text="${sauce.getName()}">wrap ingredients</span>
        </div>
    </div>

    <input type="submit" th:value="提交"/>
</form>
</body>














