<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<h1>Show Your Order Info!</h1>

<table id="orderInfo" th:object="${orderInfo}">
    <div th:each="tacoInfo:*{tacoInfos}">
        <div>
            <tr>
                <td th:text="${tacoInfo.getTaco().getName()}"></td>
            </tr>
            <tr th:each="ingredient:${tacoInfo.getIngredients()}">
                <td th:text="${ingredient.getName()}"></td>
            </tr>
        </div>
    </div>
</table>
<form method="post">

</form>